:root.theme-light {
  --background-gradient: repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      rgb(0 0 0 / 0) 2px 4px
    ),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  --reserv-color: #ffffff;
  --back-color: #ffffff;
  --font-color: #000000;
  --border: #000000;
  --button-text: #ffffff;
  --font-text: "Press Start 2P";
  --font-text-content: "Inter";
  --font-subheader: 700;
  --font-item: 400;
  --disk: #000000;
  --popover-font: #000000;
  --popover-fone: #ffffff;
  --heart-color: #ff0000;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-gradient: repeating-linear-gradient(
        90deg,
        #d3d3d3 0 2px,
        rgb(0 0 0 / 0) 2px 4px
      ),
      repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
      linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
    --reserv-color: #ffffff;
    --back-color: #ffffff;
    --font-color: #000000;
    --border: #000000;
    --button-text: #ffffff;
    --font-text: "Press Start 2P";
    --font-text-content: "Inter";
    --font-subheader: 700;
    --font-item: 400;
    --disk: #000000;
    --popover-font: #000000;
    --popover-fone: #ffffff;
    --heart-color: #ff0000;
  }
}

:root.theme-dark {
  --background-gradient: repeating-linear-gradient(
      to right,
      #000 0px 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #000 0px 2px, transparent 2px 4px),
    linear-gradient(to bottom, #007f0c, #004306);
  --reserv-color: #000000;
  --back-color: #000000;
  --font-color: #00cc14;
  --border: #00cc14;
  --button-text: #00cc14;
  --font-text: "Press Start 2P";
  --font-text-content: "Inter";
  --font-subheader: 785;
  --font-item: 465;
  --disk: #00cc14;
  --popover-font: #00cc14;
  --popover-fone: #000000;
  --heart-color: #ff0000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-gradient: repeating-linear-gradient(
        to right,
        #000 0px 2px,
        transparent 2px 4px
      ),
      repeating-linear-gradient(to bottom, #000 0px 2px, transparent 2px 4px),
      linear-gradient(to bottom, #007f0c, #004306);
    --reserv-color: #000000;
    --back-color: #000000;
    --font-color: #00cc14;
    --border: #00cc14;
    --button-text: #00cc14;
    --font-text: "Press Start 2P";
    --font-text-content: "Inter";
    --font-subheader: 785;
    --font-item: 465;
    --disk: #00cc14;
    --popover-font: #00cc14;
    --popover-fone: #000000;
    --heart-color: #ff0000;
  }
}
